<header class="header">
  <div class="container">
    <div class="flex-group">
      <div class="logo-Group">
      <img class="head-logo"src="../../../../assets/images/icon.png" alt="Image">
      <a class="title">Gestión</a>
    </div>
  </div>
  <div class="flex-group">
    <div class="user-Group">
      <div class="icon_container">
        <img appErrLogo class="usericon" src="{{userImage}}" alt="">
      </div>
      <span class="username">{{user!.nombre}}</span>
    </div>

    <a class="btn_exit" (click)="logout()">
      <em class="fas fa-sign-out-alt"></em>
    </a>

  </div>
  </div>
</header>
