.footer{
  user-select: none;
}

.footer_text{
  max-width: 30ch;
 
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .footer_text{
    max-width: 100ch;
   
    margin-left: auto;
    margin-right: auto;
  }
}