/* Elimian el icono de + en el datatable*/
@media (min-width: 1593px) {
  .dtr-control::before {
    content: "" !important;
  }
}

.end{
  background-color: rgb(28, 173, 60);
}

.ended{
  display: inline-block;
  text-align: center;
  margin-left: .5em;
  width: 135px;
  background-color: rgb(28, 173, 60);
  color: white;
  padding: .7em;
  border-radius: .2em;
  user-select: none;
  box-shadow: 3px 3px 6px #4b4b4b8f;
  cursor: pointer;
}

.doc{
  background-color: rgb(155, 155, 155);
}


progress{
  width: 100px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
}

progress::-webkit-progress-value{
  border-radius: 10px 0 0 10px ;
}

progress.pr100::-webkit-progress-value{
  background: rgb(55, 184, 29);
  
}

progress.pr75::-webkit-progress-value {
  background: rgb(113, 226, 91);
}

progress.pr50::-webkit-progress-value {
  background: rgb(209, 223, 12);
}

progress.pr25::-webkit-progress-value {
  background: rgb(223, 125, 12);
}



progress::-webkit-progress-bar {
  background: rgb(224, 224, 224);
  border-radius: 10px;
}

progress.br10::-webkit-progress-value{
  border-radius: 10px;
}

.percentage{
  display: inline-block;
  position: absolute;
  font-weight: bold;
  color: white;
  transform: translate(35px, -10px);
}

.ta-center{
  text-align: center;
}