.tools{
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar{
  position: relative;
  top: -77px;
  left: 25%;
  background-color: var(--clr-base-100);
  color: var(--clr-neutral-100);
  border-radius:  .5em;
  width: 50vw;
  padding: .5em;
}

.tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tools_item{
  width: 8em;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  text-align: center;
  padding: 1em;
  position: relative;
  transition: transform 250ms, color 250ms;
}

.tools_item:hover{
  transform: scale(1.1);
}

.tools_item::before{
content: '';
  display: inline-block;
  position: absolute;
  left: 8%;
  bottom: 5%;
  width: 90%;
  height: .1em;
  background-color:  var(--clr-accent-500);
  transform: scaleX(0);
  transition: transform 250ms;
  transform-origin: left;
}

.tools_item:active{
  transform: scale(1);
  color: var(--clr-accent-500);
}

.tools_item:hover::before{
  transform: scaleX(1);
}

#cubo .cubo,
#estadisticas .estadisticas,
#solicitudes .solicitudes,
#avances .avances,
#departamentos .departamentos,
#funcionarios .funcionarios,
#bitacora .bitacora,
#solicitudes .mantenimientos,
#avances .mantenimientos,
#departamentos .mantenimientos,
#funcionarios .mantenimientos
{
  transform: scale(1.1);
  color: var(--clr-accent-500);
}

#cubo .cubo::before,
#estadisticas .estadisticas::before,
#solicitudes .solicitudes::before,
#avances .avances::before,
#departamentos .departamentos::before,
#funcionarios .funcionarios::before,
#bitacora .bitacora::before
{
  transform: scaleX(1);
}

.toolbox{
  display: none;
}

@media (max-width: 1020px){
  .side-bar{
    position: absolute;
    top: 0;
    left: 0%;
    max-width: 200px;
    max-height: 100%;
    z-index: 100;
    border-radius:  0 0 .5em 0 ;
  }

  .hide-bar{
     display: block;
  }

  .toolbox{
    display: inline-block;
    margin-top: .5em;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
  }

  .side-bar{
    transition: max-width 0.25s ease-in, max-height 0.25s ease-in;
    width: 100%;
    height:100%;
  }

  .tools{
    overflow: hidden;
    max-height: 370px;
    transition-delay: .5s;
    transition: max-height 0.25s ease-in;
   
  }
  
  .hidden_toggle:checked + .side-bar > .tools{
    max-height: 0px;
    max-width: 0px;
  }
  
  .hidden_toggle:checked + .side-bar > .tools{
    max-height: 0px;
    max-width: 0px;
  }
  
  
  
  .hidden_toggle:checked + .side-bar{
    max-width: 50px;
    max-height: 50px;
  }
  
  .hidden_toggle:checked + .side-bar  .row .op{
    display: none;
  }
  
  .hidden_toggle + .side-bar  .row .cl{
    display: none;
  }
  
  .hidden_toggle:checked + .side-bar  .row .cl{
    display: inline-block;
  }

}
  
.hidden_toggle{
  display: none;
}

.dropdown_wrapper{
  height: 0em;
  min-height: 0;
  width: 11em;
  position: absolute;
  left: 30%;
  top: 3.8em;
  overflow: hidden;
  background-color: var(--clr-base-100);
  transition: min-height 250ms;
  padding-left: 1em;
  z-index: 100;
  border-radius: .5em;
}




.mantenimientos:hover + .dropdown_wrapper{
  min-height: 220px;
}

.dropdown_wrapper:hover{
  min-height: 220px;
}

@media (max-width: 1020px){
  .dropdown_wrapper{
    height:100px;
    min-height: 210px;
    left: 0;
    top: 0;
    position: relative;
  }
  .mantenimientos{
    display: none;
  }

  .mantenimientos:hover + .dropdown_wrapper{
    min-height: 210px;
  }
  
  .dropdown_wrapper:hover{
    min-height: 210px;
  }
  
}