<div class="content">
  <input type="checkbox" id="hidden_toggle" class="hidden_toggle" checked>
<div class="side-bar">
 
  <ul class="tools" id='{{selected_tab}}'>

    <li class="tools_item estadisticas"  [routerLink]="['/','estadisticas']" (click) = 'emmit("estadisticas")'>
      Estadísticas
    </li>
    <li class="tools_item solicitudes" [routerLink]="['/','solicitudes']"  (click) = 'emmit("solicitudes")'>
        Solicitudes
    </li>
    <li class="tools_item avances"  [routerLink]="['/','avances']"  (click) = 'emmit("avances")'>
      Avances
    </li>
    <li class="tools_item departamentos"  [routerLink]="['/','departamentos']"  (click) = 'emmit("departamentos")'>
      Departamentos
    </li>
    <li class="tools_item funcionarios"  [routerLink]="['/','funcionarios']"  (click) = 'emmit("funcionarios")'>
      Funcionarios
    </li>  
    <li class="tools_item bitacora"  [routerLink]="['/','bitacora']"  (click) = 'emmit("bitacora")'>
      Bitácora
    </li> 
    <li class="tools_item cubo"  [routerLink]="['/','cubo']" (click) = 'emmit("cubo")'>
      Cubo OLAP
    </li>
  </ul>
  <div class="row ">
    <label class="toolbox" for="hidden_toggle">
    <i class="fas fa-box-open op"></i>
    <i class="fas fa-box cl"></i>
  </label>
  </div>
</div>
</div>