.tools{
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar{
  position: relative;
  top: -77px;
  left: 25%;
  background-color: var(--clr-base-100);
  color: var(--clr-neutral-100);
  border-radius: .5em  ;
  width: 50vw;
  padding: 1em;
}

.tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tools_item{
  width: 10em;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  text-align: center;
  padding: 1em;
  position: relative;
  transition: transform 250ms, color 250ms;
}

.tools_item:hover{
  transform: scale(1.2);
}

.tools_item::before{
content: '';
  display: inline-block;
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 80%;
  height: .1em;
  background-color:  var(--clr-accent-500);
  transform: scaleX(0);
  transition: transform 250ms;
  transform-origin: left;
}

.tools_item:active{
  transform: scale(1);
  color: var(--clr-accent-500);
}

.tools_item:hover::before{
  transform: scaleX(1);
}

#inicio .inicio,
#solicitudes .solicitudes,
#avances .avances,
#departamentos .departamentos,
#funcionarios .funcionarios
{
  transform: scale(1.2);
  color: var(--clr-accent-500);
}

#inicio .inicio::before,
#solicitudes .solicitudes::before,
#avances .avances::before,
#departamentos .departamentos::before,
#funcionarios .funcionarios::before
{
  transform: scaleX(1);
}

.toolbox{
  display: none;
}


@media (max-width: 1020px){
  .side-bar{
    position: absolute;
    top: 70px;
    left: 0%;
    max-width: 200px;
    z-index: 1000;
  }

  .hide-bar{
     display: block;
  }

  .toolbox{
    display: inline-block;
    padding-top: .5em;
    margin-left: auto;
    margin-right: auto;
  }

  .side-bar{
    transition: max-width 0.25s ease-in;
  
  }

  
  .tools{
    overflow: hidden;
    max-height: 350px;
    transition: max-height 0.25s ease-in;
    transition-delay: .25s;
  }
  
  .hidden_toggle:checked + .side-bar > .tools{
    max-height: 0px;
    max-width: 0px;
  }
  
  .hidden_toggle:checked + .side-bar > .tools{
    max-height: 0px;
    max-width: 0px;
  }
  
  
  
  .hidden_toggle:checked + .side-bar{
    max-width: 50px;
  }
  
  .hidden_toggle:checked + .side-bar  .row .op{
    display: none;
  }
  
  .hidden_toggle + .side-bar  .row .cl{
    display: none;
  }
  
  .hidden_toggle:checked + .side-bar  .row .cl{
    display: inline-block;
  }


}

  
.hidden_toggle{
  display: none;
}