.pdf_previewer{
  margin-left: 3em;
  display: block;
  width: 285px;
  height: 400px;
  position: relative;
  box-shadow: 0 0 10px 4px rgba(75, 75, 75, 0.205);
}

.desaparecer{
  //animation-duration: 80ms!important;
}