.primary_box_container {
  width: 900px;
  max-width: 700px;
}

.marcoFoto {
  width: 100px;
  height: 100px;
  box-shadow: 0.5em 0.5em 1.5em var(--clr-neutral-400);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 1em;
}

.foto {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.primary_box {
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.151);
  &_container {
    background-color: var(--clr-neutral-100);
    max-width: 900px;
    min-width: 00px;
    padding: 1em 3em;
    box-shadow: 0.5em 0.5em 1.5em var(--clr-neutral-400);
    border-radius: 1em;
    animation: aparecer 750ms ease-in-out 1 forwards;

    &.desaparecer {
      animation: desaparecer 750ms ease-in-out 1 forwards;
    }
  }

  & .title,
  & .link,
  & .label {
    color: var(--clr-base-500);
    user-select: none;
  }

  & .title {
    font-size: 1.7em;
    text-align: center;
    margin: 0 0 1em 0;
  }

  & .link {
    text-decoration: underline;
    cursor: pointer;
  }

  & .recovery {
    display: block;
    text-align: right;
    margin-top: -1em;
    margin-bottom: 1em;
  }

  & .label {
    position: absolute;
    left: 5px;
    top: 0px;
    transform: scale(0.8) translateY(-20px) translateX(-8px);
    transition: transform 400ms;
  }

  & .btn {
    cursor: pointer;
    user-select: none;
    background-color: var(--clr-base-500);
    color: var(--clr-neutral-100);
    border: none;
    padding: 1em 4em;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 250ms;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  & .final_text {
    text-align: center;
    margin: 0.8em;
    color: var(--clr-neutral-400);
    user-select: none;
    max-width: 40ch;
  }

  & .register {
    display: block;
    text-align: center;
  }

  & .register,
  & .final_text,
  & .recovery {
    font-size: 0.8em;
  }

  & .input,
  & .select {
    border: none;
    padding: 0.9em;
    box-shadow: 0.2em 0.2em 0.4em var(--clr-neutral-400);
    outline: none;
    width: 100%;
    transition: outline-width 400ms;
  }

  &.input {
    &[type="date"] {
      padding: 0.7em !important;
    }
  }
}

.primary_box .input:placeholder-shown + .label {
  transform: translateY(12px) translateX(0px) scale(1);
}

.primary_box .input:focus + .label {
  transform: translateY(-16px) translateX(-6px) scale(0.8);
}

.primary_box .input:focus,
.primary_box .select:focus {
  outline: 1px solid var(--clr-base-100);
}

.primary_box .input_group {
  margin-bottom: 2.5em;
  position: relative;
}

.primary_box .input_group + .remember {
  margin-top: -1em;
}

.purple_box {
  background-color: var(--clr-base-100);
  position: fixed;
  width: 170%;
  height: 50%;
  transform: rotate(10deg);
  z-index: -1;

  &.top {
    right: -60%;
    top: -30%;
  }

  &.bot {
    left: -60%;
    bottom: -30%;
  }
}

.loading_screen {
  cursor: progress;
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;

  & .gif {
    height: 50px;
  }
}

.remember {
  display: flex;
  font-size: 0.9em;
  flex-direction: row-reverse;
  margin-bottom: 0.5em;
  user-select: none;
}


@keyframes aparecer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes desaparecer {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.btn_close {
  position: a;
  background-color: white;
  cursor: pointer;
  user-select: none;
  color: var(--clr-danger);
  border: none;
  padding: 0.1em;
  font-size: 2em;
  border-radius: 0.1em;
  display: block;
  margin-left: auto;

  transition: transform 250ms;
}

.btn_close:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

input[type="file"] {
  display: none;
}

input[type="date"] {
  padding: 0.7em !important;
}

.custom-file-upload {
  display: inline-block;

  cursor: pointer;
  border: none;
  padding: 0.7em;
  box-shadow: 0.2em 0.2em 0.4em var(--clr-neutral-400);
  outline: none;
  width: 100%;
  transition: outline-width 400ms;
}

.login_error{
  color: tomato;
  position: absolute;
  top: 3.2em;
  font-size: .8em;
  user-select: none;
}

.action_wrap{
  width: 100%;
  justify-content: center;
}

.action_wrap .edi{
  margin-right: .5em;
}

.action_wrap .del{
  margin-left: .5em;
}