@use "sass:math";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,700&display=swap');

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

@import 'styles_mod.scss';
@import 'styles_tab.scss';
@import 'styles_date_range.scss';

/* You can add global styles to this file, and also import other style files */

:root {
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --clr-base-100: #202020;
  --clr-base-500: #000000;

  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #f5f5f5;
  --clr-neutral-400: #afafaf;
  --clr-neutral-500: #393e41;

  --clr-accent-500: #ff3cbe;

  --clr-success: rgb(95, 182, 9);
  --clr-warning: rgb(207, 204, 14);
  --clr-danger: rgb(184, 28, 1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  overflow-x: hidden;
 
  background-color: var(--clr-neutral-200);
}

footer,
header {
  min-height: 7%;
  background-color: var(--clr-base-100);
}

footer {
  margin-top: auto;
  text-align: center;
  padding: .1em;
  color: var(--clr-neutral-100);
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 570px;
}

@media (max-width: 575px) {
  .container {
    width: 100%;
    min-width: auto;
  }
}

/*-----------------------------*/
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.justify-evenly {
  justify-content: space-evenly;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}
.align-right {
  margin-left: auto;
}

.justify-left {
  justify-self: left;
}
.justify-center {
  align-items: center;
}
.justify-right {
  justify-self: left;
}

.row {
  display: flex;

  flex-wrap: nowrap;
  padding: auto;
  flex-basis: fill;
  width: 100%;
}
.col {
  flex-basis: 100%;
}


@for $i from 1 through 12 {

  .col.s#{$i} {
    flex-basis:  math.div($i * 100%, 12);
  }

  .col.off-#{$i} {
    margin-left:  math.div($i * 100%, 12);
  }
}

/*-----------------------------*/
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i}em;
  }

  .p-#{$i} {
    padding: #{$i}em;
  }

  .px-#{$i} {
    padding: 0 #{$i}em;
  }

  .py-#{$i} {
    padding: #{$i}em 0;
  }

  .mx-#{$i} {
    margin: 0 #{$i}em;
  }

  .my-#{$i} {
    margin: #{$i}em 0;
  }

  .mt-#{$i} {
    margin-top: #{$i}em;
  }

  .pt-#{$i} {
    padding-top: #{$i}em;
  }

  .ml-#{$i} {
    margin-left: #{$i}em;
  }

  .pl-#{$i} {
    padding-left: #{$i}em;
  }

  .mr-#{$i} {
    margin-right: #{$i}em;
  }

  .pr-#{$i} {
    padding-right: #{$i}em;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}em;
  }

  .pb-#{$i} {
    padding-bottom: #{$i}em;
  }
}

.swal2-confirm.swal2-styled {
  background-color: var(--clr-base-500) !important;
}

.swal2-icon.swal2-warning {
  color: var(--clr-accent-500) !important;
  border-color: var(--clr-accent-500) !important;
}

.input.ng-touched.ng-invalid,
.select.ng-touched.ng-invalid {
  outline: 2px solid red !important;
}

.input.ng-valid,
.select.ng-valid{
  outline: 2px solid var(--clr-success)!important;
}

.crud_title{
  text-align: center;
}


.table{
  z-index: 1;
  margin: 11em;
}


.actions{
  justify-content: space-evenly;
}

.action_btn{
  display: inline-block;
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  padding: .5em;
  margin:.2em;
  text-align: center;
  line-height: .5em;
  color: white;
  border-radius: .2em;
  box-shadow: 3px 3px 6px #4b4b4b8f;
  cursor: pointer;
  transition: transform 150ms;
}

.action_btn:hover{
  transform: scale(1.1);
  filter: brightness(1.1);
}

.action_btn:active{
  transform: scale(1);
}

.action_btn.del{
  background-color: var(--clr-danger);
}

.action_btn.edi{
  background-color: var(--clr-warning);
}

.action_btn.det{
  background-color: var(--clr-success);
}

.action_btn.adv{
  background-color: var(--clr-neutral-500); 
}

.limited_colum{
  text-overflow: ellipsis;
  max-width: 18ch;
  overflow: hidden;
  user-select: none;
  
}

.table{
  z-index: 1000;
  margin-bottom: 5em;
}

.table_tools{
  justify-content: space-between;
  margin-bottom: 1em;
}


.filter_text{
  border-radius: .4em;
  padding: .4em;
  border: none;
  box-shadow: 0 0 5px rgba(71, 71, 71, 0.233);
}

.filter_text:focus{
  outline: 1px solid var(--clr-accent-500);
}

.add_crud,
.filter_crud{
  cursor: pointer;
  padding: .5em;
  color: white;
  background-color: var(--clr-base-100);
  border-radius: .5em;
  margin-left: 1em;
  transition: transform 150ms;
  z-index: 1;
}

.add_crud:hover,
.filter_crud:hover{
  transform: scale(1.2);
}

.add_crud:active,
.filter_crud:active{
  transform: scale(1);
}

.button_submit{
  outline: none;
  padding: 0;
  margin:  0.2em;
  border: none;
  background-color: alpha($color: #00000000);
}

img{
  -webkit-user-drag: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}